section{
    position: relative;
    background-color: darkcyan;
    height: 500px;
}

.box{
    width: 120px;
    height: 120px;
    /* float: right; */
}

.red{
    background-color: darkred;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 4;
}

.blue{
    background-color: darkblue;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 3;
}

.yellow{
    background-color: darkgoldenrod;
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 2;
}

.green{
    background-color: darkgreen;
    position: absolute;
    top: 80px;
    left: 80px;
}

.pink{
    background-color: pink;
    position: fixed;
    top: 20px;
    right: 20px;
}

.grey{
    background-color: grey;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 4;
}

.brown{
    background-color: brown;
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 3;
}

.salmao{
    background-color: salmon;
    position: absolute;
    bottom: 60px;
    right: 60px;
    z-index: 2;
}

.roxo{
    background-color: purple;
    position: absolute;
    bottom: 80px;
    right: 80px;
    z-index: 1;
}